  .books{
    background-color: #f7f3e9; 
  }
  
  
  .book-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  }

  .book {
    width: 200px;
    height: 320px;
    border: 0px solid #d0ccc6;
    padding: 20px;
    margin: 2px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    background-color: #e7dbbd;
    font-family: unset;
    color: #503f14;
  }

  .book:hover {
    transform: translateY(-5px);
  }

  .book img {
    max-width: 150px;
    max-height: 200px;
  }

  .book p {
    font-family: 'Math';
    margin: 5%;
  }

  .titulo-libro {
    font-size: 16px;

  }
  .genero-libro {
    font-size: 13px;

  }

  .title{
    font-family: 'Math';
    color:#904a33
  }

  .book a {
    color: #007bff;
    text-decoration: none;
  }

  .book a:hover {
    text-decoration: underline;
  }

  .boton {
    border: none;
    background-color: #f7f3e9; 
    padding: 3px;
  }

  p {
    color:#251300
  }

  .img-book{
    width: 50px;
    margin: 15px;
  }

  .img-lupa{
    width: 40px;
    margin: 15px;
  }

  .contenedor-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title-filter{
    font-family: 'Math';
    color:#904a33
  }