body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f1e9;
    margin: 0;
    padding: 20px;
  }

  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
  }

  /* Estilos para los libros */
  .book-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .book {
    width: 200px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #d0ccc6;
    padding: 20px;
    margin: 2px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }

  .book:hover {
    transform: translateY(-5px);
  }

  .book img {
    max-width: 150px;
    max-height: 200px;
    margin-bottom: 10px;
  }

  .book h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
  }

  .book p {
    font-size: 14px;
    color: #666;
    margin-bottom: 0;
  }

  .book a {
    color: #007bff;
    text-decoration: none;
  }

  .book a:hover {
    text-decoration: underline;
  }

  .boton {
    background-color: antiquewhite;
    padding: 0%;
    border: none;
  }