  
  .filter-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
  }

  .buscar{
    display: flex;
    align-items: center;
  }
  .filter-bar input[type="text"] {
    padding: 8px;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    outline: none;
  }
  
  .filter-bar button {
    padding: 8px 16px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .filter-bar button.filter-btn {
    background-color: #8c6455; 
    color: #fff;
  }
  
  .filter-bar button.filter-btn:hover {
    background-color: #a47a67; 
  }
  
  .filter-bar p{
    font-family: math;
    padding: 8px 16px;
  }

  .img-logo{
    width: 50px;
  }
