.sidebar {
  display: flex;
  align-items: center;
  margin: 2%;
  
}

.sidebar-book {
  width: 100%;
  border-radius: 5%;

}

.sidebar-oculta{
  display: flex;
  align-items: center;
  
}
.sidebar-book-oculto {
  width: 79px;
  border-radius: 5%;
 
}

.pendiente {
  font-family: 'Math';
  color: #904a33;
  font-size: 120%;
  font-weight: 700;
  margin-left: 5%;
}

.borrar{
  width: 20%;
  height: 31px;
  padding: 0;
  background-color: #f7f1e9ab;
  border-radius: 50%;
  border-style: dashed;
  color: #c2390c;
  border-color: #965f4d;
  margin: 3%;
}