.modal-container {
    display: flex;
  }
  
  .modal {

    background-color: #fff;


    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .modal img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .modal h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
  }
  
  .modal p {
    font-size: 14px;
    color: #666;
    margin-bottom: 0;
  }
  
  .modal button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal button:hover {
    background-color: #0056b3;
  }