/* body {
  font-family: 'math';
  background-color: #f5f1e9;
  margin: 0;
  padding: 20px;
  color: #333333;

}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.title{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  padding-top: 30px;
}

.layout {
  width: 1366px;
  height: 768px;

  display: grid;
  grid:
    "books listBooks" 1fr
    "filter ." 1.5fr;
  gap: 8px;
  grid-auto-flow: row dense;
}

.books { grid-area: books; }
.listBooks { grid-area: listBooks; }
.filter { grid-area: filter; }
 */